
/**----------------------- HEADER ---------------------------**/

a{
  text-decoration: none;
  color: black;
}

html,p,h1,h2,h3,h4,h5,h6{

font-family: Roboto, sans-serif;
font-weight: normal;
}



/**----------------------- HEADER ---------------------------**/

.top-header{
  width: auto;
  margin:0 20px 10px 20px;
  padding:5px;
  height:50px;
  border-bottom: 2px solid rgba(160, 160, 160, 0.1);
}



.header-left{
  float:left;
  display:inline-block;
}

.header-right{
float: right;
display: inline-block;
}

/**----------------------- SIDE BAR ---------------------------**/

.up-next{
    margin: 5px 0 5px 0;
}

.up-next-img{
  height:100px;
  float:left;
}

.up-next-text{
  height:100px;
  float:right;
}


.side-nav{
  width: 30%;
  height: 600px;
  background-color: lightgrey;
  float:right;
    margin: 0 10px;
}

/**----------------------- Body ---------------------------**/

.wrap{
  width: 70%;
  margin: 20px auto;
  padding: 0;
}

.main-body{

  width: 65%;
  height: 600px;
  float:left;
  margin: 0 10px;

}



.video-main{
  min-width: 100%;
  padding: 0;
  margin: 0;
}


.logo{
  width:50px;
  height:50px;
  border-radius:50%;

}

#youtube-logo{
  height:25px;
  margin:5px;
}


.content{
  margin: 30px 0 30px 0;
  display: block;
  overflow: hidden;
    border-bottom: 2px solid rgba(160, 160, 160, 0.1);
}

.content-text{
  display: block;
}

.inline{
display: inline-block;
}

.inline-left{
  float: left;
}

.inline-right{
  float: right;
}
.inline-right p{
  display:inline;
}

/**----------------------- Body ---------------------------**/


.overflow{
  overflow: hidden;
}
.comments{
  background-color: #ggg;
  margin: 20px 0;
  padding: 5px;
}



.total-comments{
  margin: 20px 0 30px; 0;
  display: block;
  overflow: hidden;

}

.sort-comments > *{
  display: inline;

}

.user{
  margin: -20px 0 0 30px;
  display: inline-block;
}
.user h5{
  margin: 20px 0 0 0 ;
}

.user h5 span{
  font-color: lightgrey;
}

.user-img{
  float: left;
  background-color: orange;
  border-radius:50%;
  height:50px;
  width:50px;
}


.comment-reply > p
{
  display: inline;
  margin-right: 15px;
}

.comment-reply svg
{
  display: inline;
  margin: 0 7px;

}

.video-title{
  border-bottom: 1px solid rgba(160, 160, 160, 0.1);
}

.video-social-bar {
  display: inline-block;;
}
.video-social-bar > *{
  display: inline;
}
#video-social-bar-right{
  float:right;
}
